ion-search-bar.search-bar{
    --placeholder-font-weight: 500;
    opacity: 1;
}
ion-searchbar.search-bar:disabled {
    opacity: 0;
    /* Adjust the opacity value as needed */
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60%  10%;
}
.search-img{
    width: 230px;
    height: 180px;
}
.search-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}