<ion-content class="ion-justify-content-center">
  <ion-grid class="container">
    <ion-row style="height:40%"class="ion-align-items-end">
      <ion-col>
        <img src='{{"assets/img/onboarding/onboarding_illustration_"+ currentPage +".svg"}}' alt="">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid>
        <ion-row class="ion-margin-vertical ion-justify-content-center">
          <span class="onboarding-title">{{onboardingTitles[currentPage-1]}}</span>
        </ion-row>
        <ion-row style="height: 2em" class="ion-margin-vertical ion-justify-content-center">
          <span class="onboarding-subtitle">{{onboardingSubtitles[currentPage-1]}}</span>
        </ion-row>
      </ion-grid>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="auto" *ngFor="let page of onboardingTitles; let i = index">
        <img *ngIf="i===currentPage-1" src="../../assets/img/onboarding/current_bullet.svg" alt="">
        <img *ngIf="i!==currentPage-1" src="../../assets/img/onboarding/bullet.svg" alt="">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <img (click)="goToNextSlide()" src="../../assets/img/onboarding/next_button.svg" alt="">
    </ion-row>
  </ion-grid>
</ion-content>
