.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
}

.user-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #F2F2F2;
    width: 72px;
    height: 72px;
}