.circular-button {
    position: absolute;
    bottom: 22px;
    left: 49.5%;
    transform: translateX(-50%);
    --background: transparent;
    --border-radius: 50%;
    --box-shadow: 0;
    z-index: 1000;
}
.tab-bar{
    height: 100%;
}
.tab-button{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circular-button img{
    width: 95px;
    height: 95px;
}
.scanMode{
    display: none;
}
@media (min-width: 1366px) and (max-width: 1920px) {

    .home-screen {
        width: 100%;
        margin: 0 auto;
    }
}
