<ion-header>
  <ion-toolbar>
    <ion-title>UI Showroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/onboarding">
      <ion-label>Onboarding</ion-label>
      <p class="in-review">IN REVIEW</p>
    </ion-item>
    <ion-item routerLink="/maps">
      <ion-label>Maps</ion-label>
      <p class="in-progress">IN PROGRESS</p>
    </ion-item>
    <ion-item>
      <ion-label>Map Search</ion-label>
      <p class="in-queue">IN QUEUE</p>
    </ion-item>
  </ion-list>
</ion-content>
