.update-button{
    width: 90%;
    --color: #ffffff;
    --font-weight: 400;
    --border-radius: 8px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --box-shadow: none;
    position: absolute;
    bottom: 0;
}
.update-disabled{
    width: 90%;
    --color: #A6A6A6;
    font-weight: 600;
    font-size: 12px;
    --border-radius: 8px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --background: #F2F2F2;
    --box-shadow: none;
    position: absolute;
    bottom: 0;
}
.marginBottom{
    margin-bottom: 15px;
}