.startScanner-container{
    height: 100vh;
    background-color: black;
}
/* .displayNone{
    background: transparent;
    width: 90%;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 180px;
} */
.flex-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 20px;
}
.square-border {
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    height: 50%;
    width: 100%;
    display: flex;
    background: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
}
.transparent{
    background: transparent;
}
.barcode-img{
    width: 44.5px;
    height: 44.5px;
}
.text-container{
    position: absolute;
    z-index: 100;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}
.scan-title{
    color: white;
    font-size: 18px;
    font-weight: 600;
}
.text-container p{
    color: gray;
    width: 66%;
    margin: 0 auto;
    font-size: 10px;
    
}

.scannerBack {
    --background: transparent;
    margin: 0;
    --box-shadow: none;
    z-index: 100;
}

.scannerBack ion-icon {
    color: white;
    width: 40px;
    height: 30px;
    
}
