#chargingBill-modal ion-backdrop {
    z-index: 2;
}
#chargingBill-modal{
    --backdrop-opacity: 0.3;
    --height: 80%;
    --width: 80%;
    --border-radius: 16px;
    z-index: 100;
    --background: transparent;
}
#web-chargingBill-modal {
    --backdrop-opacity: 0.4;
    --height: 100%;
    --width: 80%;
    --border-radius: 16px;
    z-index: 100;
    --background: transparent;
}
.circular-button-bill {
    display: flex;
    --background: transparent;
    --border-radius: 50%;
    --box-shadow: 0;
    z-index: 1000;
}

.circular-button-bill img {
    width: 82px;
    height: 82px;
}
.icon-transparent-container{
    width: 100%;
    height: 10%;
    background: transparent;
}
.modal-bill-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.modal-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding-top: 40px;

}
.successful-flex{
    display: flex;
    align-items: center;
    gap: 10px;
}
.button-modal{
    position: absolute;
    bottom: 0;
    transform: translateY(38%);
    --height: 60px;
    --border-radius: 50%;
    --width: 60px;
    --background: #FFFFFF;
    opacity: 0.9;
}
.border-div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
}
.invoice-header-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    width: 100%;
}
.border-div .transparent-circle{
    position: absolute;
    height: 30px;
    width: 20px;
    border-radius: 50%;

}

.border-div .grayline{
    width: 100%;
    border-top: 4px dotted #A6A6A6;
    
}
.bill-info-container{
    width: 85%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1.5px solid #F2F2F2;
    gap: 6px;
}
.bill-address-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.bill-address-flex p{
    margin: 0;
}
.completed-green-div{
    width: 87px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3ACE7A;
    padding: 5px 8px;
    margin-bottom: 10px;
    border-radius: 100px;
}
.web-footer-bill-container {
    width: 85%;
    text-align: center;
    gap: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.web-card-bill-flex{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: center;
    border-bottom: 1.5px solid #F2F2F2;
    width: 100%;
    margin: 0 auto;
}

.bill-arrow {
    font-size: 24px;
    color: #FFF;
}
.exit-x{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
}
