.footer-bill-container {
    text-align: center;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.card-bill-flex {
    display: flex;
    align-items: center;
}