/* Core CSS required for Ionic components to work properly */
@import "@ionic/react/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/react/css/normalize.css";
@import "@ionic/react/css/structure.css";
@import "@ionic/react/css/typography.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/react/css/padding.css";
@import "@ionic/react/css/float-elements.css";
@import "@ionic/react/css/text-alignment.css";
@import "@ionic/react/css/text-transformation.css";
@import "@ionic/react/css/flex-utils.css";
@import "@ionic/react/css/display.css";

/* Theme variables */
@import "./theme/variables.css";

*{
    font-family: 'Montserrat', sans-serif;
}
ion-button{
    text-transform: none;
}
.w200 {
    font-weight: 200;
}
.w400 {
    font-weight: 400;
}
.w500{
    font-weight: 500;
}
.w600 {
    font-weight: 600;
}
.w700 {
    font-weight: 700;
}
.line-item-divider {
    border-top: 1px solid #F2F2F2;
    margin: 5px 0;
}
.font10{
    font-size: 10px;
}
.font14 {
    font-size: 14px;
}
.font12 {
    font-size: 12px;
}
.font18 {
    font-size: 18px;
}
.font20 {
    font-size: 20px;
}
.font24{
    font-size: 24px;
}
.colorA6{
    color: #A6A6A6;
}
.color3E{
    color: #3E3E3E;
}
.color021{
    color: #021F0E;
}
.color000{
    color: #000000;
}



body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
}